/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1180px) {
	.cotent{
		max-width: 1180px;
	}
	.container{
		width: 93%;
	}
	.mnu-button-wrap{
		display: none;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.mnu-button-wrap{		display: block;	}
	.container{		width: 96%;	}
	.header-icons{		margin-right: 90px;	}
	.nav-wrap{		display: none;	}
	.page-wrap{	
		max-width: 100%;	
	}
	.p-cont-box{
		padding: 10px 20px;
		text-align: left;
	}
	.tags-header{		width: 155px;	}
	.tags-cell{	min-width: 240px;	}
	.bottom-address{		
		display: block;
		padding-bottom: 35px;
	}
  .address-ul {
    border-radius: 0;
		min-width: 100%;
   }
  .address-item {
    float: left;
    width: 33.33333%;
    border-radius: 0;
	}
  .address-item a {
    color: inherit;
    text-decoration: none;
   }
	.address-item-link:first-child {
    background-image: #f9f9f8;
    background-image: -moz-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f6f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: -o-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: -ms-linear-gradient(top, #ffffff 0%, #f6f5f5 100%);
    background-image: linear-gradient(to bottom, #ffffff 0%, #f6f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f5f5',GradientType=0 ); }
	.address-item:last-child{ border-radius: 0;}
  .menu_button_box {    display: block; }
  .lock_box {  margin-left: 140px;  } 

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo-wrap{	margin-left: 30px;}
	.container{		width: 96%;	}
	.mnu-button-wrap{		display: block;	}
	.bottom-address{		display: block;	}
	.page-wrap{
		max-width: 100%;
	}
	/*Disable Animation on Mobile Devices*/
	.lock-box {		margin-left: 25px;	} 
	/* index.html */
	.photo-frame{
		float: none;
		margin-left: 35%;
		margin-bottom: 10px;
	}
	.about-me-box{
		margin-left: 0;
	}
	.p-cont-header{
		text-align: center;
	}
	.p-cont-box{
		text-align: center;
	}
	.item-img-frame{ 
		float: none;
		margin: 5px auto;
	}
	.p-cont-info-item-box{
		float: none;
		text-align: center;
		padding-left: 0;
		max-width: 100%;
	}
	.address-item{
		float: none;
		width: 100%;
	}
	.footer-text{
		float: right;
		padding-right: 18px;
		padding-left: 0;
		font-size: 8px;
		margin-left: 0;
	}

}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

	.header-icons{ display: none;}
	.mnu-button-wrap{ display: block;}
	.container{
		min-width: 90%;
	}
	.content{ padding-bottom: 38px;	}
	.page-content{
		margin-bottom: 20px;
	}
	.photo-frame{
		float: none;
		margin-left: 25%;
		margin-bottom: 10px;
	}
	.about-me-box{
		width: 100%;
		margin-left: 0;
	}
	.p-cont-header{
		text-align: center;
		padding: 15px;
		font-weight: 400;
	}
	.item-img-frame{ 
		float: none;
		margin: 5px auto;
	}
	.tags-cell{
		float: none;
		min-width: 190px;
		max-width: 200px;
	}
	.p-cont-box{
		padding: 5px 15px;
	}
	.p-cont-info-item-box{
		float: none;
		text-align: center;
	}
	.address-item{
		float: none;
		width: 100%;
	}
	.bottom-address{	
		display: block;
		padding: 0;
	}
	.footer{
		height: 38px;
		line-height: 38px;
		margin-top: -38px;
	}
	.footer-content{
		height: 38px;
		line-height: 38px;
	}
	.footer-icons{
		display: block;
		float: none;
		text-align: center;
	}
	.footer-icons li {
		line-height: 60px;
	}
	.lock-box {	margin-left: 0;}
	.lock-text {
		margin: 0;
		font-size: 8px;
	}
	.footer-text{
		float: right;
		padding: 2px 0 0;
		font-size: 8px;
		margin-left: 0;
	}
	.page-wrap .contacts-box{
		margin: 10px auto;
		width: 100%;
	}
	.name-and-mail-wrap:first-child .name-wrap,
	.name-and-mail-wrap:first-child .mail-wrap{
		float: none;
		width: 100%;
		display: block;
	}

}
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
}

/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 300px) {
	.content{ min-width: auto;}
	.page-wrap{
		display: block;
		float: none;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) {
}
/* Small Devices, Tablets */
@media only screen and (min-width : 769px) {
	.content{ min-width: 90%;}
}
/* Medium Devices, Desktops */
@media only screen and (min-width : 993px) {
	.bottom-address{	display: none;	}
	.container{	width: 84%;	}
	.page-wrap{	margin: 24px 0;	}
	.mnu-button-wrap{ display: none;}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
	.bottom-address{	display: none;	}
	.container{	width: 80%;	}
	.page-wrap{	float: left;	}
	.mnu-button-wrap{ display: none;	}
}